// * colors
$care-text-primary: #008445;
$care-background-primary: #3ab54a;
$care-background-primary-dark: #00763e;
$care-background-primary-light: #f7f7f7;
$content-background: rgb(232, 240, 254);
$sidebar-list-light-green: rgba(58, 181, 74, 0.1);

$white: #ffffff;
$manatee: #ffffff;
$gray80: grey;
$care-dark-grey: #585858;
$black: #000000;
$bittersweet: #ff5f5f;
$light-red: #e00025;
$shuttle-gray: #6a6c73;
$red: #ff0000;
$denim: #175ad3;
$tulip-tree: #e9b83a;
$parsley: #1a5e29;
$tundora: #494949;
$concrete: #f2f2f2;
$alto: #d0d0d0;
$light-green: #9beaa6;
$error-text: #dc3545;
$geyser: #dee2e6;

// * frontend color
$main-green: #3ab54a;
$main-black: #231f20;
$bg-button: #00833e;
$care-green-color: #008636;
$care-dark-color: #494c49;
$care-dark2-color: #585858;
$care-light1-color: #f4f8fd;
$care-light2-color: #c4c4c4;
$care-light3-color: #f2f2f2;
$care-light4-color: #d3dce6;
$care-light5-color: #c2cedb;
$care-light6-color: #8492a6;
$care-light7-color: #3c4858;
$care-light8-color: #3e4462;
$care-light9-color: #dadada;
$care-light10-color: #eeeeee;
$care-yellow-color: #b5b03a;
$card-border-gray: #dadada;
$smoke: #fcfcfc;
$input-front-bg: #fafafa;
$btn-gray-bg: #979797;
$color-fafafa: #fafafa;
$color-gray: #6d6e71;
$color-blue: #032ea1;
$color-light-green: #c9eecf;
$color-F5F5F4: #f5f5f4;
$color-dark-green: #2e8f3b;

$section-tittle: 48px;
$care-h1: 40px;
$care-h2: 32px;
$care-h3: 24px;
$care-h4: 20px;
$care-h5: 17px;
$care-font-normal: 16px;
$care-font-small: 12px;
$care-font-mini: 8px;

// * Fonts
$raleway-font: 'Raleway', sans-serif;

//border

$dark-tangerine: #898a8d;
$lighter-dark: #898a8d;

$bg-gray-gradient: rgba(106, 108, 115, 0.2);
$bg-gray-gradient3: rgba(106, 108, 115, 0.03);
$gallery: #ececec;
$dusty-gray: #979797;
$concrete: #f2f2f2;
$mercury: #e5e5e5;
$bon-jour: #e7e4e4;
$light-white: #fdfdfd;
$dove-gray: #707070;
$alabaster: #fafafa;
$green-bg: #f0f7f1;
$concrete-approx: #f3f3f3;

/***** spacing, round, size *****/
$side: (
    'l': 'left',
    'r': 'right',
    't': 'top',
    'b': 'bottom',
);
$card-radius: 10px;
$card-padding: 1.5rem;
$ctrl-radius: 5px;
$ctrl-space-y: 15px;
$ctrl-space-x: 15px;

// alert color
$alert_success: #dff1e1;
