.card-six-corner {
    clip-path: polygon(48% 0, 100% 28%, 100% 72%, 50% 100%, 0 72%, 0 28%);
    width: 200px;
    height: 200px;
    margin: 0.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    // background-image: url('https://i.pinimg.com/564x/15/6d/47/156d47bfdfe95c1a9879cc51bf2e7103.jpg');
}

.flex-position-card {
    margin: -54px 0 0 -67px;
}
.card-product {
    border-radius: 9px !important;
    .card-image-size {
        max-width: 100%;
        max-height: 220px;
    }
    .ant-card-cover {
        img {
            border-radius: 9px;
            max-width: 100%;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .ant-card-actions {
        border-radius: 5px;
    }
}
